.addPollContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pollContainer{
    background-color: white;
    padding:20px;
    border-radius:5px;
}

.buttonContainer{
    text-align: center;
}
.addOption{
    text-align: center;
}