.formContainer {
  font-family: "Arial";
  background-color: antiquewhite;
  background-size: cover;
  padding: 20px;
}
.text {
  height: 80px;
  width: 300px;
}
h1 {
  text-align: center;
}
.role {
  margin-top: 10px;
  width: 300px;
  height: 30px;
  background-color: transparent;
}
.label {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}
.error {
  color: red;
}
.buttonStyle {
  background-color: transparent;
  padding: 6px 15px;
  border: 1px solid black;
  margin-right:20px;
}
.button {
  margin-top: 20px;
  text-align: center;
}
