*{
    margin: 0px;
}
.pollPageContainer{
    background-color: beige;
    background-size: cover;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}