* {
  padding: 0px;
}
.listContainer {
  margin: 10px;
  padding: 10px;
  list-style: none;
  font-family: "Arial";
  background-color: rgb(183, 214, 240);
}
.titleContainer {
  min-width: 80vw;
  overflow: auto;
  background-color: rgb(240, 206, 211);
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 25px;
  text-align: start;
  padding: 10px;
}
.iconsContainer {
  display: flex;
  align-items: center;
}
.icons {
  margin: 0px 10px;
}
.deleteIcon {
  margin-left: 10px;
}
.optionContainer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  margin: 3px 0px;
  font-size: 18px;
}
.option {
  list-style: none;
}
.voteContainer {
  display: flex;
  justify-content: space-between;
}
.vote {
  margin-top: 3px;
}
